@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-v: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
main {
  height: 100%;
}

.main-container {
  background: linear-gradient(-20deg, hsl(var(--color-v), 100%, 50%) 0%, hsl(calc(var(--color-v) + 90), 50%, 50%) 100%);
}

.float-button {
  animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
}
@keyframes floating-y {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(110%);
  }
}
